#achievments {
    background-image: url(/img/about/testimonial-bg.jpg);
    background-size: cover;
    padding: 60px 0;
    .count-one {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 80px;
        .icon {
            margin-bottom: 20px;
            display: block;
            i {
                color: $secondBckground;
                font-size: 48px;
            }
        }
        .count-value {
            color: $typografyInverseColor;
            font-size: 48px;
            margin-bottom: 20px;
        }
        .width25-divider {
            margin: 20px auto;
            width: 25px;
            border-color: $typografyInverseColor;
        }
        .count-title {
            color: $typografyInverseColor;
            font-size: 14px;
        }
    }
}
