#thumbnail {
    padding-top: 30px;
    padding-bottom: 30px;
    h5 {
        font-size: 18px;
       a {
        color: $typografyColor;
       }
    }

    div img{
        max-width: 100px;
        margin-bottom: 15px;

    }
}
