$linkColor: #000000;
$inverseLinkColor:#fff;
$hoverlinkColor:#de8183;

$typografyColor: #000000;
$typografySecondColor:#de8183;
$typografyInverseColor: #ffffff;
$typografySecondInverseColor: #c1c1c1;


$mainBckground: #ffffff;
$mainBckgroundInverse: #242424;
$secondBckground: #de8183;

$mainborderColor:#EB586F;
$inverseBorderColor:#ffffff;

